<%= form_for([@user, @contact]) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error-explanation">
      <h2>The form has <%= pluralize(@contact.errors.count, "error") %>:</h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, 'First Name' %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name, 'Last Name' %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  
  <div class="form-options">
    <%= f.submit %>
  </div>
<% end %>
